{% load static %}
<header>
        <div class="logo">
            <a href = "/"><img src="{% static 'img/dtre.svg' %}" alt="Logo de la DTRE"/></a>
            <a href = "/">
                <h1>
                    DTRE
                </h1>
            </a>
        </div>

        <!-- *********************** For responsive header *************************** -->
    
        <!-- *********************** For responsive header *************************** -->

        {% include 'includes/nav.html' %}

</header>
