<nav class="nav">

     <label class="burger" for="burger">
            <input type="checkbox" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="dropdown-menu" id="dropdownMenu">
        <ul>
            <li><a href="/projets">Projets</a></li>
            <li><a href="/membres">Membres</a></li>
            <li><a href="/evenements">Événements</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

        <div class="nav-links">
            <a href="/projets" class="btn-grad">Projets</a>
             <a href="/membres" class="btn-grad">Membres</a>
            <a href="/evenements" class="btn-grad">Événements</a>
            <a href="/documentation" class="btn-grad">Documentation</a>
            <a href="/contact" class="btn-grad">Contact</a>
        </div>

</nav>
